<ion-header *ngIf="!isModal">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="login-row" align-items-center>
    <ion-col size="5"> </ion-col>
    <ion-col size="2" class="lock-col">
      <div class="lock-bg"></div>
      <img
        class="lock-img"
        src="assets/img/Lock-07.svg"
        tappable
        (click)="login()"
      />
    </ion-col>
    <ion-col size="5"> </ion-col>
  </ion-row>
</ion-content>
